#container{
  position: relative;
  width:960px;
  margin:0 auto;
}
header img{
  /*画像の下部に隙間が出るのをfix*/
  display: block;
}
#navBox{
  width:960px;
  box-sizing: border-box;
  /*absoluteにして、top,leftなどの指定をしないとその場所に絶対配置される*/
  position: absolute;
  height:50px;
  background:#333;
  color:white;
  padding:0 50px;

}

#navBox #logo{
  margin: 0;
  font-size:20px;
  font-weight: bold;
  float:left;
}
#navBox #logo a{
  text-decoration: none;
  line-height:50px;
  color:#eee;
}
#navBox ul{
  float:right;
}
#navBox ul li{
  display: inline-block;
  margin-right:30px;
}

#navBox ul li a{
  color:white;
  text-decoration: none;
}
#navBox ul li a:hover{
  text-decoration: underline;
}

/*以下を追加*/
#cloneWrapper{
  position:fixed;
  top:-100px;
  left:0;
  width:960px;
  height:30px;
  z-index:10;
  transition: 0.5s;
  left: 50%;
  margin-left:-480px;
}
#cloneWrapper #navBox{
height:30px;
}
#cloneWrapper #navBox #logo{
  font-size:14px;
}
#cloneWrapper #navBox #logo a{
  line-height:30px;
}
#cloneWrapper #navBox ul{
  margin:0;
}
#cloneWrapper #navBox ul li{
  line-height: 30px;
  font-size:14px;
}

#cloneWrapper.sticky{
  top:0;
}
/***********************/
main{
  background: #ddd;
  padding:70px 50px 50px;
}

main p{
  margin-bottom:50px;
}
footer{
  background: #333;
  color:#ddd;
  text-align: center;
  line-height: 40px;
  height:40px;
}
